@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-color: $background-color;
}

h1 {
  font-size: 30px;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-top: -250px;
  margin-left: -250px;
}
